h1 {
    color:green;
}
body p {
    color:blueviolet
}
h3 {
    color:red;
}
ul li {
    color:cadetblue;
}
ol li{
    color:darkblue;
}
body a {
    color:black;
}
body {
    background-color: darkolivegreen;
}